body {
  background-color: white;
  color: black;
  transition: background 0.3s ease, color 0.3s ease;
}

body.cambio-Color {
  background-color: black;
  color: white;
}

.tarjeta{ 
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;

  border: 2px solid transparent; /* clave */
  border-radius: 16px;
  padding: 20px;

  background: rgba(0,0,0,0.25);
  box-shadow: 0 10px 25px rgba(46, 45, 45, 0.35);

  margin-left: 20%;
  margin-right: 20%;

  /* borde degradado */
  border-image: linear-gradient(135deg,
    rgba(13,197,96,0.95),
    rgba(0,180,255,0.75),
    rgba(180,0,255,0.65)
  ) 1;
}
